**/.DS_Store
tools/
Max/GenExpr.txt

# Carpetas de build
build/
cmake-build-*/
build-xcode/

# Archivos temporales de testing
pluginval_temp/
pluginval_logs/
Testing/

# Archivos CLion
.idea/
CLAUDE.md

# Scripts manuales de compilación final plugins mediante xcode toolchain
build-xcode-aax-release.sh
build-xcode-vst3-au-release.sh
build-xcode-au_script.sh
build-xcode-vst3_script.sh

# Var
JCB_Latency_Lookahead_Study.md
GRAPHICS_BUTTON_NON_APVTS_IMPLEMENTATION.md
GRAPHICS_BUTTON_PRESET_IMPLEMENTATION.md
PROJECT_STATUS_GRAPHICS_BUTTON.md
MEJORAS_THREAD_SAFETY_AUTOMATIZACION.md
ValidatorResults/